.layout > header {
	background: var(--primary-color);
	margin-bottom: 1.5em;
	padding: 1em 10vw;

}

.layout > header h1 {
	margin: 0;
}

.layout > header h1 a {

	&,
	&:visited {
		color: #eee;
	}
}
