.layout > header {
	background: var(--mcw-anesth-dark-green);
	margin-bottom: 1.5em;
	padding: 1em 10vw;

}

.layout > header h1 {
	margin: 0;
}

.layout > header h1 a {
	text-decoration: none;
}

.layout > header h1 a,
.layout > header h1 a:visited {
	color: #eee;
}
