.layout > header {
	background: var(--primary-color);
	margin-bottom: 1.5em;
	padding: 1em;
}

.layout > header h1 {
	margin: 0 auto;
	max-width: 80vw;
	width: var(--body-width);
}

.layout > header h1 a,
.layout > header h1 a:visited {
	color: #eee;
}
