/** @format */

article.layout > main {
	margin: 1em 10vw;
}

form.lecture-filter {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 0.9em;
	margin: 0 -1em;
}

form.lecture-filter > * {
	margin: 0 1em;
}

form.lecture-filter label input[type='text'],
form.lecture-filter label input[type='number'],
form.lecture-filter label input[type='text'],
form.lecture-filter label textarea {
	display: block;
}
